.itemlist__container {
    background-color: rgb(9, 29, 46);
    border-radius: 20px;
    color: white;
    margin: 0 auto;
    padding: 20px;
    width: 95%;
}

.itemlist__container h2 {
    margin-bottom: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}